name: MCP Server Build Action
run-name: ${{github.actor}}
on:
  push:
    branches: [master]
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "^20"
      - name: Build MCP Server
        run: |
          npm ci
          npm run build
