name: MCP Server Deploy Action
run-name: ${{github.actor}}
on:
  workflow_dispatch:
    inputs:
      reason:
        description: Deploy to prod
        required: false
        default: "Manual deploy"
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "^20"
      - name: Install & Build
        run: |
          npm ci
          npm run build
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: ap-southeast-2
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USER}}
          key: ${{secrets.EC2_SSH_KEY}}
          port: 22
          script: |
            cd ~/gmail-mcp
            git pull origin master
            npm ci
            npm run build
            pm2 restart email-agent || pm2 start build/index.js --name "email-agent"
            pm2 save
